.footer-container{
    position:absolute;
    width:100%;
    bottom: 10px;;
    background-color: rgb(255, 255, 255);
    height: 100px;
}
.footer-main{
    width: 95%;
    display: inline-block;
    
}
.footer-main img{
    padding-top: 10px;
    position:relative;
  width: 10rem;
  display: inline-block;
}
.footer-main ul{
    width: 20%;
    display: inline-block;
}
.footer-links{
    width: 80%;
    float: right;
    margin-top: 20px;
}
.footer-links a{
    color: white;
    text-decoration: none;
}
.footer-main li{
    text-align: center;
    list-style: none;
    color: rgb(8, 8, 8);
    font-size: large;
}
.footer-copy{
    position: absolute;
    bottom: 0%;
    background-color:rgb(255, 255, 255) ;
    line-height: 3rem;
    width: 100%;
    text-align: center;
}
.footer-copy p{
    color: rgb(1, 1, 1);
    font-size: larger;
}
@media (max-width: 768px) {
    .footer-main img{
        bottom:10px;
        padding-left: 5%;

    }
 
   .footer-container{
   margin-bottom: 60px;
    max-height: 50px;
    min-height: 30px;
   }
   .footer-copy{
    max-height: 10px;
    margin-bottom: 0px;
   }
  }
  